.responsive {
    width: 100%;
    height: auto;
    border-top-left-radius: 251px;
    border-top-right-radius: 251px;
    border-bottom-left-radius: 251px;
    border-bottom-right-radius: 251px;
    border: #0ef 5px solid;
}

/*about*/

.about {
    background-color: #212F3C;
    display: grid;
    grid-template-columns: repeat(2, .5fr);
    /*align-items: center;*/
    /*gap: 1.5rem;*/
    width: 100%;
    justify-content: space-between;
    min-height: 100vh;
    padding: 70px 5% 0;
}

.about-img {
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding-right: 10%;
    margin-top: 10%;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: .5s;
}

.about-content {
    display: inline-block;
    padding-left: 10%;
    margin-top: 10%;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: .5s;
}

.about-content h1 {
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
    letter-spacing: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.about-content h3 {
    font-size: 32px;
    font-weight: 700;
    margin: 20px 0;
}

.about-content p {
    font-size: 20px;
    font-weight: 400;
    margin: 20px 0;
}

/*services*/

.services {
    background-color: #212F3C;
    display: grid;
    grid-template-columns: repeat(3, .5fr);
    /*align-items: center;*/
    /*gap: 1.5rem;*/
    width: 100%;
    justify-content: space-between;
    min-height: 100vh;
    padding: 70px 5% 0;
}

.services-content {
    display: inline-block;
    padding-left: 10%;
    margin-top: 10%;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: .5s;
}

.services-content h1 {
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
    letter-spacing: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.services-content h3 {
    font-size: 32px;
    font-weight: 700;
    margin: 20px 0;
}

.services-content p {
    font-size: 20px;
    font-weight: 400;
    margin: 20px 0;
}

.services-content a {
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    font-size: 15px;
    text-align: center;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    margin-top: 20px;
}

.services-content a:hover {
    box-shadow: 0 0 5px cyan, 0 0 25px cyan, 0 0 50pc cyan, 0 0 100px cyan, 0 0 200px cyan;
}

/*contact*/

.contact {
    background-color: #212F3C;
    display: grid;
    grid-template-columns: repeat(2, .5fr);
    /*align-items: center;*/
    /*gap: 1.5rem;*/
    width: 100%;
    justify-content: space-between;
    min-height: 100vh;
    padding: 70px 5% 0;
}

.contact-content {
    display: inline-block;
    padding-left: 10%;
    margin-top: 10%;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: .5s;
}

.contact-content h1 {
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
    letter-spacing: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.contact-content h3 {
    font-size: 32px;
    font-weight: 700;
    margin: 20px 0;
}

.contact-content p {
    font-size: 20px;
    font-weight: 400;
    margin: 20px 0;
}

.contact-content a {
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    font-size: 15px;
    text-align: center;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    margin-top: 20px;
}

.contact-content a:hover {
    box-shadow: 0 0 5px cyan, 0 0 25px cyan, 0 0 50pc cyan, 0 0 100px cyan, 0 0 200px cyan;
}

/*footer*/

.footer {
    background-color: #212F3C;
    display: grid;
    grid-template-columns: repeat(2, .5fr);
    /*align-items: center;*/
    /*gap: 1.5rem;*/
    width: 100%;
    justify-content: space-between;
    min-height: 100vh;
    padding: 70px 5% 0;
}

.footer-content {
    display: inline-block;
    padding-left: 10%;
    margin-top: 10%;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: .5s;
}

.footer-content h1 {
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
    letter-spacing: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.footer-content h3 {
    font-size: 32px;
    font-weight: 700;
    margin: 20px 0;
}

.footer-content p {
    font-size: 20px;
    font-weight: 400;
    margin: 20px 0;
}

.footer-content a {
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    font-size: 15px;
    text-align: center;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    margin-top: 20px;
}

.footer-content a:hover {
    box-shadow: 0 0 5px cyan, 0 0 25px cyan, 0 0 50pc cyan, 0 0 100px cyan, 0 0 200px cyan;
}

/*animations*/

@keyframes slideRight {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideLeft {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideBottom {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideUP {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }

    100% {
        opacity:
    }
}
/*Home page */
    .img img {
        max-width: 100%;
        height: auto;
        display: block;
        margin: 20px auto;
        object-fit: cover;
    }

    @media (min-width: 768px) {
        .img img {
            max-width: 300px;
        }
    }

